﻿@using System.Security.Claims
<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	<link href="@Url.Content("~/css/Login.css")" rel="stylesheet" type="text/css" />
	@RenderSection("Styles", false)
</head>
<body>
    <div>
        @if (User.Identity.IsAuthenticated)
        {
            //<div>@User.GetUserName()</div>
            <form method="post" asp-controller="Login" aspcontroller="Logout">
                <input type="submit" value="Logout" />
            </form>
        }
        else
        {
            <a asp-controller="Login" asp-action="Login"></a>
        }
    </div>

  
    <div>
        @RenderBody()
    </div>
</body>
</html>
