﻿@{
	Layout = "~/Views/Login/_LayoutLogin.cshtml";
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Index</title>

</head>
<body>
	<div id="boxLogin">
		<h3 id="Login">Login</h3>
		@ViewBag.error
		<form method="post" asp-controller="Login" asp-action="login">
			<div id="boxInput">
				<div id="divUsername">

					<i class="fas fa-user"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"></i>
					
					<input type="text" name="username" id="loginInputs" placeholder="Username">




				</div>
				<br />
				<br />
				<div id="divPassword">

					<i class="fas fa-lock"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"></i>
				
					<input type="password" name="password" id="loginInputs" placeholder="Password">


				</div>
				<br />
				<br />

			</div>
			<div id="divBtnLogin">
				<input type="submit" value="Login" id="btnLogin">
			</div>
		</form>
	</div>
</body>
</html>

