﻿
@{
    ViewData["Title"] = "Sucesso";
}

@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sucesso</title>
</head>
<body>

    <h3>Success Page</h3>
    Welcome @Context.Session.GetString("MySession")
    <br>
    <a asp-controller="Login" asp-action="Logout">Logout</a>

</body>
</html>