﻿@model DALCore.Models.ProjetosColaboradores

@{
    ViewData["Title"] = "Criar";
}

<h2>Criar</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdProjeto" class="control-label">Projeto</label>
                <select asp-for="IdProjeto" class="form-control" asp-items="ViewBag.IdProjeto"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdColaborador" class="control-label">Id do Colaborador</label>
                <select asp-for="IdColaborador" class="form-control" asp-items="ViewBag.IdColaborador"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regressar à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
