﻿@model DALCore.Models.ProjetosColaboradores

@{
    ViewData["Title"] = "Apagar";
}

<h2>Apagar</h2>

<h3>Tem a certeza que pretende apagar?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id do Colaborador
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdColaboradorNavigation.Id)
        </dd>
        <dt>
            Projeto
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdProjetoNavigation.Nome)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdProjeto" />
        <input type="hidden" asp-for="IdColaborador" />
        <input type="submit" value="Apagar" class="btn btn-default" /> |
        <a asp-action="Index">Regressar à lista</a>
    </form>
</div>

