﻿@model DALCore.Models.ProjetosColaboradores

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Id do Colaborador
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdColaboradorNavigation.Id)
        </dd>
        <dt>
            Projeto
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdProjetoNavigation.Nome)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Regressar à lista</a>
</div>
