﻿@model IEnumerable<DALCore.Models.ProjetosColaboradores>

@{
    ViewData["Title"] = "Colaboradores atribuidos a projetos";
}

<h2>Colaboradores atribuidos a projetos</h2>

<p hidden>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id do Colaborador
            </th>
            <th>
                Projeto
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdColaboradorNavigation.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdProjetoNavigation.Nome)
                </td>
                <td hidden>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>
