﻿
@model DALCore.Models.Clientes



<div class="form-group">
	<label asp-for="Nif" class="control-label">NIF</label>
	<input asp-for="Nif" class="form-control" type="text" id="nif" name="nif" />
	<span asp-validation-for="Nif" class="text-danger"></span>
</div>
<div class="form-group">
	<label asp-for="Empresa" class="control-label">Empresa</label>
	<input asp-for="Empresa" class="form-control" type="text" id="empresa" name="empresa"  />
	<span asp-validation-for="Empresa" class="text-danger"></span>
</div>

