﻿
@model DALCore.Models.Colaboradores



<div class="form-group">
	<label asp-for="IdManager" class="control-label">Manager</label>
	<select asp-for="IdManager" class="form-control" asp-items="ViewBag.Nome" id="idmanager" name="idmanager"></select>
	<span asp-validation-for="IdManager" class="text-danger"></span>
	<span class="text-danger"></span>
</div>

