﻿@model DALCore.Models.Utilizadores
@using Microsoft.AspNetCore.Http;

@{
	ViewData["Title"] = "Criar";
}
<style>
	#save {
		-moz-box-shadow: inset 0px 0px 17px 2px #8a2a21;
		-webkit-box-shadow: inset 0px 0px 17px 2px #8a2a21;
		box-shadow: inset 0px 0px 17px 2px #8a2a21;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
		background: -moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
		background: -webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
		background: -o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
		background: -ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
		background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
		background-color: #c62d1f;
		-moz-border-radius: 14px;
		-webkit-border-radius: 14px;
		border-radius: 14px;
		border: 1px solid #d02718;
		display: inline-block;
		cursor: pointer;
		color: white;
		font-family: Arial;
		font-size: 15px;
		font-weight: bold;
		padding: 2px 0px;
		text-decoration: none;
		text-align: center;
		text-shadow: 0px 1px 5px #810e05;
		height: 35px;
		width: 90px;
		margin-bottom: 20px;
	}

		#save:hover {
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
			background: -moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
			background: -webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
			background: -o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
			background: -ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
			background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
			background-color: #f24437;
		}

		#save:active {
			position: relative;
			top: 1px;
		}
</style>


<div id="boxTable">
	<div id="headTituloView">
		<h2 id="h2titulo">Criar novo utilizador</h2>
	</div>

	<hr />
	<div class="row">
		<div class="col-md-4">
			<form asp-action="Create">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>

				<div class="form-group">
					<label asp-for="Nome" class="control-label"></label>
					<input asp-for="Nome" class="form-control" />
					<span asp-validation-for="Nome" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Email" class="control-label"></label>
					<input asp-for="Email" class="form-control" />
					<span asp-validation-for="Email" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Telefone" class="control-label">Contacto</label>
					<input asp-for="Telefone" class="form-control" />
					<span asp-validation-for="Telefone" class="text-danger"></span>
				</div>

				<div class="form-group">
					<label asp-for="Username" class="control-label"></label>
					<input asp-for="Username" class="form-control" />
					<span asp-validation-for="Username" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Password" class="control-label"></label>
					<input asp-for="Password" type="password" class="form-control" />
					<span asp-validation-for="Password" class="text-danger"></span>
				</div>

				<div class="form-group">
					<label asp-for="IdFuncao" class="control-label">Função</label>
					<select asp-for="IdFuncao" class="form-control" asp-items="ViewBag.IdFuncao" onchange="funcaoform(this.options[this.selectedIndex].value)"></select>
				</div>

				@*Partial View para Cliente(NIF e empresa)*@
				<div class="form-group" id="clientepartial" name="clientepartial" style="display:none">

					@Html.Partial("ClientePartial")

				</div>

				@*Partial View para Colaborador(Manager do novo usuário) *@
				<div class="form-group" id="colaboradorpartial" name="colaboradorpartial" style="display:none">

					@Html.Partial("ColaboradorPartial")

				</div>

				<div class="form-group">
					<label asp-for="Active" class="control-label">Estado</label>
					<select asp-for="Active" class="form-control">
						<option value="true">Ativo</option>
						<option value="false">Inativo</option>
					</select>
					<span asp-validation-for="Active" class="text-danger"></span>
				</div>

				@*<div class="form-group">
					<label asp-for="DataCriacao" class="control-label">Data de Criação</label>
					<input asp-for="DataCriacao" class="form-control"/>
					<span asp-validation-for="DataCriacao" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="DataEdicao" class="control-label">Data de Edição</label>
					<input asp-for="DataEdicao" class="form-control"/>
					<span asp-validation-for="DataEdicao" class="text-danger"></span>
				</div>*@

				<div class="form-group" hidden>
					<label asp-for="UserCriacao" class="control-label">Criado por</label>
					<input asp-for="UserCriacao" class="form-control" value="@Context.Session.GetString("MySession")" />
					<span asp-validation-for="UserCriacao" class="text-danger"></span>
				</div>
				<div class="form-group" hidden>
					<label asp-for="UserEdicao" class="control-label">Editado por</label>
					<input asp-for="UserEdicao" class="form-control" value="@Context.Session.GetString("MySession")" />
					<span asp-validation-for="UserEdicao" class="text-danger"></span>
				</div>
	</div>
</div>
	<div class="btnSalvar">
		<input type="submit" value="Criar" class="btn btn-default" id="save" />
	</div>
	</form>
	<div class="voltarLista">
		<a asp-action="Index" id="linkVoltar">Regressar à lista</a>
	</div>
</div>
		@section Scripts {
			@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

			<script>
		
		function funcaoform(opcaofuncao) {
				// drop down cliente
			if (opcaofuncao == 3)
				document.getElementById('clientepartial').style.display = 'block';
			else
				document.getElementById('clientepartial').style.display = 'none';
				// drop down colaborador
			if (opcaofuncao == 4)
				document.getElementById('colaboradorpartial').style.display = 'block';
			else
				document.getElementById('colaboradorpartial').style.display = 'none';

		}

			</script>
		}
