﻿@model DALCore.Models.Utilizadores

@{
	ViewData["Title"] = "Apagar";
}

<style>
	#save {
		-moz-box-shadow: inset 0px 0px 17px 2px #8a2a21;
		-webkit-box-shadow: inset 0px 0px 17px 2px #8a2a21;
		box-shadow: inset 0px 0px 17px 2px #8a2a21;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
		background: -moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
		background: -webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
		background: -o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
		background: -ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
		background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
		background-color: #c62d1f;
		-moz-border-radius: 14px;
		-webkit-border-radius: 14px;
		border-radius: 14px;
		border: 1px solid #d02718;
		display: inline-block;
		cursor: pointer;
		color: white;
		font-family: Arial;
		font-size: 15px;
		font-weight: bold;
		padding: 2px 0px;
		text-decoration: none;
		text-align: center;
		text-shadow: 0px 1px 5px #810e05;
		height: 35px;
		width: 90px;
		margin-bottom: 20px;
	}

		#save:hover {
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
			background: -moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
			background: -webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
			background: -o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
			background: -ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
			background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
			background-color: #f24437;
		}

		#save:active {
			position: relative;
			top: 1px;
		}
</style>

<div id="boxTable">
	<div id="headTituloView">
		<h2 id="h2titulo">Apagar utilizador</h2>
	</div>
	<hr />

	<div class="questionDelete">
		<h4>Tem a certeza que quer apagar este utilizador?</h4>
	</div>
	<div>
		<dl class="dl-horizontal">

			<dt>
				@Html.DisplayNameFor(model => model.Nome)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Nome)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.Email)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Email)
			</dd>
			<dt hidden>
				Contacto
			</dt>
			<dd hidden>
				@Html.DisplayFor(model => model.Telefone)
			</dd>

			<dt hidden>
				@Html.DisplayNameFor(model => model.Username)
			</dt>
			<dd hidden>
				@Html.DisplayFor(model => model.Username)
			</dd>
			<dt hidden>
				@Html.DisplayNameFor(model => model.Password)
			</dt>
			<dd hidden>
				@Html.DisplayFor(model => model.Password)
			</dd>

			<dt>
				Estado
			</dt>
			<dd>
				@if (Convert.ToBoolean(Model.Active))
				{
					<span>Ativo</span>
				}
				else
				{
					<span>Inativo</span>
				}
			</dd>
			<dt hidden>
				Data de Criação
			</dt>
			<dd hidden>
				@Html.DisplayFor(model => model.DataCriacao)
			</dd>
			<dt hidden>
				Data de Edição
			</dt>
			<dd hidden>
				@Html.DisplayFor(model => model.DataEdicao)
			</dd>
			<dt hidden>
				Criado por:
			</dt>
			<dd hidden>
				@Html.DisplayFor(model => model.UserCriacao)
			</dd>
			<dt hidden>
				Editado por:
			</dt>
			<dd hidden>
				@Html.DisplayFor(model => model.UserEdicao)
			</dd>
			<dt>
				Função
			</dt>
			<dd>
				@Html.DisplayFor(model => model.IdFuncaoNavigation.Nome)
			</dd>

		</dl>
	</div>

	<form asp-action="Delete">
		<input type="hidden" asp-for="Id" />
		<div class="btnSalvar">
			<input type="submit" value="Apagar" class="btn btn-default" id="save" onchange="deleteform(this.options[this.selectedIndex].value)" />
		</div>
		<div class="voltarLista">
			<a asp-action="Index" id="linkVoltar">Regressar à lista</a>
		</div>
	</form>

</div>

