﻿@model DALCore.Models.Utilizadores

@{
	ViewData["Title"] = "Detalhes";
}
<div id="boxTable">
	<div id="headTituloView">
		<h2 id="h2titulo">Detalhes do utilizador</h2>
	</div>
	<div>

		<hr />
		<dl class="dl-horizontal">
			<dt hidden>
				@Html.DisplayNameFor(model => model.Username)
			</dt>
			<dd hidden>
				@Html.DisplayFor(model => model.Username)
			</dd>
			<dt hidden>
				@Html.DisplayNameFor(model => model.Password)
			</dt>
			<dd hidden>
				@Html.DisplayFor(model => model.Password)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.Nome)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Nome)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.Email)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Email)
			</dd>
			<dt>
				Contacto
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Telefone)
			</dd>
			<dt>
				Estado
			</dt>
			<dd>
				@if (Convert.ToBoolean(Model.Active))
				{
					<span>Ativo</span>
				}
				else
				{
					<span>Inativo</span>
				}
			</dd>
			<dt>
				Criado por
			</dt>
			<dd>
				@Html.DisplayFor(model => model.UserCriacao)
			</dd>
			<dt>
				Data de Criação
			</dt>
			<dd>
				@Html.DisplayFor(model => model.DataCriacao)
			</dd>
			<dt>
				Editado por
			</dt>
			<dd>
				@Html.DisplayFor(model => model.UserEdicao)
			</dd>
			<dt>
				Data de Edição
			</dt>
			<dd>
				@Html.DisplayFor(model => model.DataEdicao)
			</dd>

			<dt>
				Função
			</dt>
			<dd>
				@Html.DisplayFor(model => model.IdFuncaoNavigation.Nome)
			</dd>
		</dl>
	</div>
	<div class="voltarLista">
		<a asp-action="Edit" asp-route-id="@Model.Id" id="linkVoltar">Editar</a> |
		<a asp-action="Index" id="linkVoltar">Regressar à lista</a>
	</div>
</div>
