﻿@model IEnumerable<DALCore.Models.Utilizadores>

@{
	ViewData["Title"] = "Utilizadores";
}

<div id="boxTable">
	<div id="headTituloView">
		<h2 id="h2titulo">Utilizadores</h2>
	</div>

	<div id="criarNovo">
		<i class="fas fa-user-edit"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"></i>
		<a asp-action="Create" id="linkCriarNovo">Criar Novo</a>
	</div>

	<table class="table">

		<thead>


			<tr id="tableHead">
				<th hidden>
					@Html.DisplayNameFor(model => model.Username)
				</th>
				<th hidden>
					@Html.DisplayNameFor(model => model.Password)
				</th>
				<th>
					Nome
				</th>

				<th hidden>
					Email
				</th>
				<th hidden>
					Contacto
				</th>
				<th hidden>
					@Html.DisplayNameFor(model => model.Active)
				</th>
				<th hidden>
					Criado por
				</th>
				<th hidden>
					Data de Criação
				</th>
				<th hidden>
					Editado por
				</th>
				<th hidden>
					Data de Edição
				</th>
				<th>
					Função
				</th>
				<th>

				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr id="tableBody">
					<td hidden>
						@Html.DisplayFor(modelItem => item.Username)
					</td>
					<td hidden>
						@Html.DisplayFor(modelItem => item.Password)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Nome)
					</td>
					<td hidden>
						@Html.DisplayFor(modelItem => item.Email)
					</td>
					<td hidden>
						@Html.DisplayFor(modelItem => item.Telefone)
					</td>
					<td hidden>
						@Html.DisplayFor(modelItem => item.Active)
					</td>
					<td hidden>
						@Html.DisplayFor(modelItem => item.UserCriacao)
					</td>
					<td hidden>
						@Html.DisplayFor(modelItem => item.DataCriacao)
					</td>
					<td hidden>
						@Html.DisplayFor(modelItem => item.UserEdicao)
					</td>
					<td hidden>
						@Html.DisplayFor(modelItem => item.DataEdicao)
					</td>

					<td>
						@Html.DisplayFor(modelItem => item.IdFuncaoNavigation.Nome)
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
						<a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
						<a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
