﻿@model DALCore.Models.Colaboradores

@{
    ViewData["Title"] = "Apagar";
}

<h2>Apagar</h2>

<h3>Tem a certeza que pretende apagar?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Manager
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdManager)
        </dd>
        <dt>
            Colaborador
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdNavigation.Nome)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar" class="btn btn-default" /> |
        <a asp-action="Index">Regressar à lista</a>
    </form>
</div>
