﻿@model DALCore.Models.Colaboradores

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Manager
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdManager)
        </dd>
        <dt>
            Colaborador
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdNavigation.Nome)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Regressar à lista</a>
</div>
