﻿@model IEnumerable<DALCore.Models.Colaboradores>

@{
    ViewData["Title"] = "Colaboradores";
}

<h2>Colaboradores</h2>

<p hidden>
    <a asp-action="Create">Criar Novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Manager
            </th>
            <th>
                Colaborador
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdManager)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNavigation.Nome)
                </td>
                <td hidden>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
