﻿@{
	ViewData["Title"] = "Home Page";

	Layout = "~/Views/Home/_LayoutHome.cshtml";
}

<style>
	body {
		padding-top: 5px !important;
	}
</style>
<div id="welcomebox">
	<div id="welcome">
		<div id="bemvindo">
			Seja Bem Vindo(a) à &nbsp; &nbsp;
		</div>

		<div class="carousel slide" data-ride="carousel" data-interval="6000">

			<h2>
				<span class="ml5">

					<span class="text-wrapper">
						<span class="line line1"></span>
						<span class="letters ampersand">Performance</span>
						<span class="line line2"></span>
					</span>
				</span>
			</h2>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
		</div>
	</div>
</div>


<div>
	<div id="boxHome" class="col-md-3">
		<h2>Avaliações</h2>
		<ul>
			<li><a asp-area="" asp-controller="Avaliacoes" asp-action="Create">Nova Avaliação</a></li>
			<li><a asp-area="" asp-controller="Avaliacoes" asp-action="Index">Ver Avaliações</a></li>

		</ul>

	</div>
	<div id="boxHome" class="col-md-3">
		<h2>Utilizadores</h2>
		<ul>
			<li><a asp-area="" asp-controller="Utilizadores" asp-action="Create">Criar Utilizador</a></li>
			<li><a asp-area="" asp-controller="Utilizadores" asp-action="Index">Ver Utilizadores</a></li>
		</ul>

	</div>
	<div id="boxHome" class="col-md-3">
		<h2>Projetos</h2>
		<ul>
			<li><a asp-area="" asp-controller="Projetos" asp-action="Create">Criar Projeto</a></li>
			<li><a asp-area="" asp-controller="Projetos" asp-action="Index">Ver Projetos</a></li>
		</ul>


	</div>
	<div id="boxHome" class="col-md-3">
		<h2>Dashboards</h2>
		<ul>
			<li><a asp-area="" asp-controller="Dashboards" asp-action="Index">Ver dashboards</a></li>
		</ul>


	</div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	<script src="~/js/animacaoPerformance.js"></script>
}