﻿@model DALCore.Models.Projetos

@{
    ViewData["Title"] = "Detalhes";
}
<div id="boxTable">
	<div id="headTituloView">
		<h2 id="h2titulo">Detalhes</h2>
	</div>
	<div>

		<hr />
		<dl class="dl-horizontal">
			<dt>
				Nome do Projeto
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Nome)
			</dd>
			<dt>
				Estado
			</dt>
			<dd>
				@if (Convert.ToBoolean(Model.Active))
				{
					<span>Ativo</span>
				}
				else
				{
					<span>Inativo</span>
				}
			</dd>
			<dt>
				Data de Criação
			</dt>
			<dd>
				@Html.DisplayFor(model => model.DataCriacao)
			</dd>
			<dt>
				Data de Edição
			</dt>
			<dd>
				@Html.DisplayFor(model => model.DataEdicao)
			</dd>
			<dt>
				Criado por
			</dt>
			<dd>
				@Html.DisplayFor(model => model.UserCriacao)
			</dd>
			<dt>
				Editado por
			</dt>
			<dd>
				@Html.DisplayFor(model => model.UserEdicao)
			</dd>
			<dt>
				Cliente
			</dt>
			<dd>
				@Html.DisplayFor(model => model.IdClienteNavigation.Empresa)
			</dd>
			<dt>
				Gestor de Projeto
			</dt>
			<dd>
				@Html.DisplayFor(model => model.IdGestorNavigation.Nome)
			</dd>
		</dl>
	</div>
	<div class="voltarLista">
		<a asp-action="Edit" asp-route-id="@Model.Id" id="linkVoltar">Editar</a> |
		<a asp-action="Index" id="linkVoltar">Regressar à lista</a>
	</div>
</div>