﻿@model DALCore.Models.Projetos
@using Microsoft.AspNetCore.Http;
@{
	ViewData["Title"] = "Editar";
}
<style>
	#save {
		-moz-box-shadow: inset 0px 0px 17px 2px #8a2a21;
		-webkit-box-shadow: inset 0px 0px 17px 2px #8a2a21;
		box-shadow: inset 0px 0px 17px 2px #8a2a21;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
		background: -moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
		background: -webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
		background: -o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
		background: -ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
		background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
		background-color: #c62d1f;
		-moz-border-radius: 14px;
		-webkit-border-radius: 14px;
		border-radius: 14px;
		border: 1px solid #d02718;
		display: inline-block;
		cursor: pointer;
		color: white;
		font-family: Arial;
		font-size: 15px;
		font-weight: bold;
		padding: 2px 0px;
		text-decoration: none;
		text-align: center;
		text-shadow: 0px 1px 5px #810e05;
		height: 35px;
		width: 90px;
		margin-bottom: 20px;
	}

		#save:hover {
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
			background: -moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
			background: -webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
			background: -o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
			background: -ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
			background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
			background-color: #f24437;
		}

		#save:active {
			position: relative;
			top: 1px;
		}
</style>
<div id="boxTable">
	<div id="headTituloView">
		<h2 id="h2titulo">Editar</h2>
	</div>


	<hr />
	<div class="row">
		<div class="col-md-4">
			<form asp-action="Edit">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<input type="hidden" asp-for="Id" />
				<div class="form-group">
					<label asp-for="IdCliente" class="control-label">Cliente</label>
					<select asp-for="IdCliente" class="form-control" asp-items="ViewBag.IdCliente"></select>
					<span asp-validation-for="IdCliente" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="IdGestor" class="control-label">Gestor de Projeto</label>
					<select asp-for="IdGestor" class="form-control" asp-items="ViewBag.IdGestor"></select>
					<span asp-validation-for="IdGestor" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Nome" class="control-label">Nome do Projeto</label>
					<input asp-for="Nome" class="form-control" />
					<span asp-validation-for="Nome" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Active" class="control-label">Estado</label>
					<select asp-for="Active" class="form-control">
						<option value="true">Ativo</option>
						<option value="false">Inativo</option>
					</select>
					<span asp-validation-for="Active" class="text-danger"></span>
				</div>
				<div class="form-group" hidden>
					<label asp-for="DataCriacao" class="control-label">Data de Criação</label>
					<input asp-for="DataCriacao" class="form-control" />
					<span asp-validation-for="DataCriacao" class="text-danger"></span>
				</div>
				<div class="form-group" hidden>
					<label asp-for="DataEdicao" class="control-label">Data de Edição</label>
					<input asp-for="DataEdicao" class="form-control" />
					<span asp-validation-for="DataEdicao" class="text-danger"></span>
				</div>
				<div class="form-group" hidden>
					<label asp-for="UserCriacao" class="control-label">Criado por</label>
					<input asp-for="UserCriacao" class="form-control" value="@Context.Session.GetString("MySession")" />
					<span asp-validation-for="UserCriacao" class="text-danger"></span>
				</div>
				<div class="form-group" hidden>
					<label asp-for="UserEdicao" class="control-label">Editado por</label>
					<input asp-for="UserEdicao" class="form-control" value="@Context.Session.GetString("MySession")" />
					<span asp-validation-for="UserEdicao" class="text-danger"></span>
				</div>
		</div>
	</div>
	<div class="btnSalvar">
		<input type="submit" value="Guardar" class="btn btn-default" id="save" />
	</div>
	</form>

	<div class="voltarLista">
		<a asp-action="Index" id="linkVoltar">Regressar à Lista</a>
	</div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

}
