﻿@model IEnumerable<DALCore.Models.Projetos>

@{
	ViewData["Title"] = "Projetos";
}
<div id="boxTable">
	<div id="headTituloView">
		<h2 id="h2titulo">Projetos</h2>
	</div>
	<div id="criarNovo">
		<i class="fas fa-user-edit"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"></i>
		<a asp-action="Create" id="linkCriarNovo">Criar Novo</a>
	</div>
	<table class="table">
		<thead>
			<tr id="tableHead">
				<th>
					@Html.DisplayNameFor(model => model.Nome)
				</th>
				<th hidden>
					Estado
				</th>
				<th hidden>
					Data de Criação
				</th>
				<th hidden>
					Data de Edição
				</th>
				<th hidden>
					Criado por
				</th>
				<th hidden>
					Editado por
				</th>
				<th >
					Cliente
				</th>
				<th >
					Gestor de Projeto
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Nome)
					</td>
					<td hidden>
						@Html.DisplayFor(modelItem => item.Active)
					</td>
					<td hidden>
						@Html.DisplayFor(modelItem => item.DataCriacao)
					</td>
					<td hidden>
						@Html.DisplayFor(modelItem => item.DataEdicao)
					</td>
					<td hidden>
						@Html.DisplayFor(modelItem => item.UserCriacao)
					</td>
					<td hidden>
						@Html.DisplayFor(modelItem => item.UserEdicao)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.IdClienteNavigation.Empresa)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.IdGestorNavigation.Nome)
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
						<a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
						<a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
