﻿@using Microsoft.AspNetCore.Http;

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - PerformanceMVCCore</title>

	<environment include="Development">
		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
		<link rel="stylesheet" href="~/css/Tabelas.css" />
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
			  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
			  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />

	</environment>

</head>
<body>


	<style>
		#imgLogo {
			max-width: 120px;
			width: auto;
		}

		.navbar {
			background-color: lightgrey;
		}

		footer {
			margin: 20px;
			text-align: right;
		}

		#navLogin {
			float: right;
			color: white;
			margin-top: 15px;
			color: darkred;
		}

		#navPrincipal {
			list-style-type: none;
			margin: 0;
			padding: 0;
			overflow: hidden;
		}

		li {
			float: left;
			font-size: 16px;
			font-weight: bold;
		}

		.active {
			display: block;
			color: black;
			text-align: center;
			padding: 16px;
			text-decoration: none;
		}

		li a {
			display: block;
			color: darkred;
			text-align: center;
			padding: 16px;
			text-decoration: none;
		}




			li a:hover {
				color: black;
				text-decoration: none;
			}

		
	</style>
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">
					<img id="imgLogo" src="~/images/bannerlogo.png" />


				</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul id="navLogin" class="nav navbar-nav">
					<p>
						Welcome @Context.Session.GetString("MySession")
						<a id="linkLogout" asp-controller="Login" asp-action="Logout">
							&nbsp; Logout
							<i class="fas fa-door-open"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous"></i>
						</a>
					</p>
				</ul>
				<ul id="navPrincipal">

					
					<li class="">@Html.ActionLink("Avaliações", "Index", "Avaliacoes", null, new { @class = ViewBag.Current == "IndexAvaliacoes" ? "active" : "" })</li>
					


				</ul>

			</div>
		</div>
	</nav>

	<partial name="_CookieConsentPartial" />

	<div class="container body-content">
		@RenderBody()
	</div>
	<footer>
		<p>&copy; 2018 -  WINNING Scientific Management</p>
	</footer>


	<environment include="Development">
		<script src="~/lib/jquery/dist/jquery.js"></script>
		<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
		<script src="~/js/site.js" asp-append-version="true"></script>
	</environment>
	<environment exclude="Development">
		<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
				asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
				asp-fallback-test="window.jQuery"
				crossorigin="anonymous"
				integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
		</script>
		<script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
				asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
				asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
				crossorigin="anonymous"
				integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
		</script>
		<script src="~/js/site.min.js" asp-append-version="true"></script>
	</environment>

	@RenderSection("Scripts", required: false)

</body>
</html>

