﻿@model DALCore.Models.Classificacoes

@{
	ViewData["Title"] = "Apagar";
}
<style>
	#save {
		-moz-box-shadow: inset 0px 0px 17px 2px #8a2a21;
		-webkit-box-shadow: inset 0px 0px 17px 2px #8a2a21;
		box-shadow: inset 0px 0px 17px 2px #8a2a21;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
		background: -moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
		background: -webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
		background: -o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
		background: -ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
		background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
		background-color: #c62d1f;
		-moz-border-radius: 14px;
		-webkit-border-radius: 14px;
		border-radius: 14px;
		border: 1px solid #d02718;
		display: inline-block;
		cursor: pointer;
		color: white;
		font-family: Arial;
		font-size: 15px;
		font-weight: bold;
		padding: 2px 0px;
		text-decoration: none;
		text-align: center;
		text-shadow: 0px 1px 5px #810e05;
		height: 35px;
		width: 90px;
		margin-bottom: 20px;
	}

		#save:hover {
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
			background: -moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
			background: -webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
			background: -o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
			background: -ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
			background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
			background-color: #f24437;
		}

		#save:active {
			position: relative;
			top: 1px;
		}
</style>

<div id="boxTable">
	<div id="headTituloView">
		<h2 id="h2titulo">Apagar</h2>
	</div>
	<div class="questionDelete">
		<h4>Tem a certeza que quer apagar esta classificação?</h4>
	</div>

		<hr />
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.Nota)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Nota)
			</dd>
			<dt>
				Descrição
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Descricao)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.Ordem)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Ordem)
			</dd>
			<dt>
				Estado
			</dt>
			<dd>
				@if (Convert.ToBoolean(Model.Active))
				{
					<span>Ativo</span>
				}
				else
				{
					<span>Inativo</span>
				}
			</dd>
			<dt>
				Data de Criação
			</dt>
			<dd>
				@Html.DisplayFor(model => model.DataCriacao)
			</dd>
			<dt>
				Data de Edição
			</dt>
			<dd>
				@Html.DisplayFor(model => model.DataEdicao)
			</dd>
			<dt>
				Criado por
			</dt>
			<dd>
				@Html.DisplayFor(model => model.UserCriacao)
			</dd>
			<dt>
				Editado por
			</dt>
			<dd>
				@Html.DisplayFor(model => model.UserEdicao)
			</dd>
		</dl>

		<form asp-action="Delete">
			<input type="hidden" asp-for="Id" />
			<div class="btnSalvar">
				<input type="submit" value="Apagar" class="btn btn-default" id="save" />
			</div>
			<div class="voltarLista">
				<a asp-action="Index" id="linkVoltar">Regressar à lista</a>
			</div>
		</form>
	</div>
</div>
