﻿@model DALCore.Models.Classificacoes

@{
	ViewData["Title"] = "Detalhes";
}
<div id="boxTable">
	<div id="headTituloView">
		<h2 id="h2titulo">Detalhes das Classificações</h2>
	</div>

	<div>
		<hr />
		<dl class="dl-horizontal">
			<dt>
				Nota
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Nota)
			</dd>
			<dt>
				Descrição
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Descricao)
			</dd>
			<dt>
				Ordem
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Ordem)
			</dd>
			<dt>
				Estado
			</dt>
			<dd>
				@if (Convert.ToBoolean(Model.Active))
				{
					<span>Ativo</span>
				}
				else
				{
					<span>Inativo</span>
				}
			</dd>
			<dt>
				Data de Criação
			</dt>
			<dd>
				@Html.DisplayFor(model => model.DataCriacao)
			</dd>
			<dt>
				Data de Edição
			</dt>
			<dd>
				@Html.DisplayFor(model => model.DataEdicao)
			</dd>
			<dt>
				Criado por
			</dt>
			<dd>
				@Html.DisplayFor(model => model.UserCriacao)
			</dd>
			<dt>
				Editado por
			</dt>
			<dd>
				@Html.DisplayFor(model => model.UserEdicao)
			</dd>
		</dl>
	</div>
	<div class="voltarLista">
		<a asp-action="Edit" asp-route-id="@Model.Id" id="linkVoltar">Editar</a> |
		<a asp-action="Index" id="linkVoltar">Regressar à lista</a>
	</div>
</div>
