﻿@model IEnumerable<DALCore.Models.Classificacoes>

@{
	ViewData["Title"] = "Classificações";
}
<div id="boxTable">
	<div id="headTituloView">
		<h2 id="h2titulo">Modelo de Classificações</h2>
	</div>

	<div id="criarNovo">
		<i class="fas fa-user-edit"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"></i>
		<a asp-action="Create" id="linkCriarNovo">Criar Nova</a>
	</div>
	<table class="table">
		<thead>
			<tr id="tableHead">
				<th>
					@Html.DisplayNameFor(model => model.Nota)
				</th>
				<th>
					Descrição
				</th>
				<th hidden>
					@Html.DisplayNameFor(model => model.Ordem)
				</th>
				<th hidden>
					Estado
				</th>
				<th hidden>
					Data de Criação
				</th>
				<th hidden>
					Data de Edição
				</th>
				<th hidden>
					Criado por
				</th>
				<th hidden>
					Editado por
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Nota)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Descricao)
					</td>
					<td hidden>
						@Html.DisplayFor(modelItem => item.Ordem)
					</td>
					<td hidden>
						@Html.DisplayFor(modelItem => item.Active)
					</td>
					<td hidden>
						@Html.DisplayFor(modelItem => item.DataCriacao)
					</td>
					<td hidden>
						@Html.DisplayFor(modelItem => item.DataEdicao)
					</td>
					<td hidden>
						@Html.DisplayFor(modelItem => item.UserCriacao)
					</td>
					<td hidden>
						@Html.DisplayFor(modelItem => item.UserEdicao)
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
						<a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
						<a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
