﻿@model DALCore.Models.Avaliacoes
;
@{
	ViewData["Title"] = "Criar";
}
<style>
	#save {
		-moz-box-shadow: inset 0px 0px 17px 2px #8a2a21;
		-webkit-box-shadow: inset 0px 0px 17px 2px #8a2a21;
		box-shadow: inset 0px 0px 17px 2px #8a2a21;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
		background: -moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
		background: -webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
		background: -o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
		background: -ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
		background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
		background-color: #c62d1f;
		-moz-border-radius: 14px;
		-webkit-border-radius: 14px;
		border-radius: 14px;
		border: 1px solid #d02718;
		display: inline-block;
		cursor: pointer;
		color: white;
		font-family: Arial;
		font-size: 15px;
		font-weight: bold;
		padding: 2px 0px;
		text-decoration: none;
		text-align: center;
		text-shadow: 0px 1px 5px #810e05;
		height: 35px;
		width: 90px;
		margin-bottom: 20px;
	}

		#save:hover {
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
			background: -moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
			background: -webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
			background: -o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
			background: -ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
			background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
			background-color: #f24437;
		}

		#save:active {
			position: relative;
			top: 1px;
		}
</style>


<div id="boxTable">
	<div id="headTituloView">
		<h2 id="h2titulo">Criar avaliação</h2>
	</div>

	<hr />
	<div class="row">
		<div class="col-md-4">
			<form asp-action="Create">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="IdClassificacao" class="control-label">Classificação</label>
					<select asp-for="IdClassificacao" class="form-control" asp-items="ViewBag.IdClassificacao"></select>
				</div>
				@*<div class="form-group">
			<label asp-for="IdUtilizador" class="control-label">Colaborador</label>
			<select asp-for="IdUtilizador" class="form-control" asp-items="ViewBag.IdUtilizador"></select>
		</div>*@
				@*<div class="form-group">
			<label asp-for="IdAvaliador" class="control-label">Avaliador</label>
			<select asp-for="IdAvaliador" class="form-control" asp-items="ViewBag.IdAvaliador"></select>
		</div>*@

				@*Filtros - divs que permitem filtrar os utilizadores que vão ser avaliados dos que não vão *@
				<div class="form-group">
					<label class="control-label">Avaliar</label>
					<select class="form-control" id="avfuncao" name="avfuncao" onchange="avaliaform(this.options[this.selectedIndex].value)">
						<option></option>
						<option>Gestor de Projeto</option>
						<option>Colaborador</option>
					</select>
				</div>
				<div class="form-group" id="avcolaborador" style="display:none">
					<label class="control-label">Colaborador</label>
					<select class="form-control" name="colaboradorAv" asp-items="ViewBag.AvColaborador"></select>
				</div>
				<div class="form-group" id="avgestor" style="display:none">
					<label class="control-label">Gestor de Projeto</label>
					<select class="form-control" name="gestorAv" asp-items="ViewBag.AvGestor"></select>
				</div>
				@*Filtros - fim*@

				<div class="form-group">
					<label asp-for="IdProjeto" class="control-label">Projeto</label>
					<select asp-for="IdProjeto" class="form-control" asp-items="ViewBag.IdProjeto"></select>
				</div>
				<div class="form-group" hidden>
					<label asp-for="Estado" class="control-label">Estado da Avaliação</label>
					<input asp-for="Estado" class="form-control" />
					<span asp-validation-for="Estado" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Mes" class="control-label">Mês</label>
					<select asp-for="Mes" class="form-control" id="mes">
						<option value="">Mês</option>
					</select>
					<span asp-validation-for="Mes" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Ano" class="control-label"></label>
					<select asp-for="Ano" class="form-control" id="ano">
						<option value="">Ano</option>
					</select>
					<span asp-validation-for="Ano" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="PontosFortes" class="control-label">Pontos Fortes</label>
					<input asp-for="PontosFortes" class="form-control">
					<span asp-validation-for="PontosFortes" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="PontosFracos" class="control-label">Pontos Fracos</label>
					<input asp-for="PontosFracos" class="form-control" />
					<span asp-validation-for="PontosFracos" class="text-danger"></span>
				</div>
				@*<div class="form-group">
			<label asp-for="DataCriacao" class="control-label">Data de Criação</label>
			<input asp-for="DataCriacao" class="form-control" />
			<span asp-validation-for="DataCriacao" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="DataEdicao" class="control-label">Data de Edição</label>
			<input asp-for="DataEdicao" class="form-control" />
			<span asp-validation-for="DataEdicao" class="text-danger"></span>
		</div>*@
</div>
	</div>
	<div class="btnSalvar">
		<input type="submit" value="Criar" class="btn btn-default" id="save" />
	</div>
	</form>
	<div class="voltarLista">
		<a asp-action="Index" id="linkVoltar">Regressar à lista</a>
	</div>
</div>
@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script type="text/javascript">

	//Função que seleciona os divs filtrados por utilizador a ser avaliado, a serem mostrados:
	function avaliaform(opcaofuncao) {
		// drop down colaborador
		if (opcaofuncao == "Colaborador")
			document.getElementById('avcolaborador').style.display = 'block';
		else
			document.getElementById('avcolaborador').style.display = 'none';
		// drop down gestor
		if (opcaofuncao == "Gestor de Projeto")
			document.getElementById('avgestor').style.display = 'block';
		else
			document.getElementById('avgestor').style.display = 'none';
	}				



	for (y = 2000; y <= 2100; y++) {
		var optn = document.createElement("OPTION");
		optn.text = y;
		optn.value = y;

		// selecionar ano em que inicia a drop down
		if (y == ano) {
			optn.selected = true;
		}

		document.getElementById('ano').options.add(optn);
	}

	var d = new Date();
	var monthArray = new Array();
	monthArray[0] = "Janeiro";
	monthArray[1] = "Fevereiro";
	monthArray[2] = "Março";
	monthArray[3] = "Abril";
	monthArray[4] = "Maio";
	monthArray[5] = "Junho";
	monthArray[6] = "Julho";
	monthArray[7] = "Agosto";
	monthArray[8] = "Setembro";
	monthArray[9] = "Outubro";
	monthArray[10] = "Novembro";
	monthArray[11] = "Dezembro";

	for (m = 0; m <= 11; m++) {
		var optn = document.createElement("OPTION");
		optn.text = monthArray[m];

		optn.value = (m + 1);

		// selecionar mês em que inicia a drop down
		if (m == mes) {
			optn.selected = true;
		}

		document.getElementById('mes').options.add(optn);
	}
</script>
