﻿@model DALCore.Models.Avaliacoes

@{
    ViewData["Title"] = "Detalhes";
}
<div id="boxTable">
	<div id="headTituloView">
		<h2 id="h2titulo">Detalhes das avaliações</h2>
	</div>
	<div>

		<hr />
		<dl class="dl-horizontal">
			<dt>
				Estado da Avaliação
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Estado)
			</dd>
			<dt>
				Mês
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Mes)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.Ano)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Ano)
			</dd>
			<dt>
				Pontos Fortes
			</dt>
			<dd>
				@Html.DisplayFor(model => model.PontosFortes)
			</dd>
			<dt>
				Pontos Fracos
			</dt>
			<dd>
				@Html.DisplayFor(model => model.PontosFracos)
			</dd>
			<dt>
				Estado
			</dt>
			<dd hidden>
				@if (Convert.ToBoolean(Model.Active))
				{
					<span>Ativo</span>
				}
				else
				{
					<span>Inativo</span>
				}
			</dd>
			<dt>
				Data da Criação
			</dt>
			<dd>
				@Html.DisplayFor(model => model.DataCriacao)
			</dd>
			<dt>
				Data da Edição
			</dt>
			<dd>
				@Html.DisplayFor(model => model.DataEdicao)
			</dd>
			<dt>
				Avaliador
			</dt>
			<dd>
				@Html.DisplayFor(model => model.IdAvaliadorNavigation.Nome)
			</dd>
			<dt>
				Classificação
			</dt>
			<dd>
				@Html.DisplayFor(model => model.IdClassificacaoNavigation.Nota)
			</dd>
			<dt>
				Projeto
			</dt>
			<dd>
				@Html.DisplayFor(model => model.IdProjetoNavigation.Nome)
			</dd>
			<dt>
				Colaborador
			</dt>
			<dd>
				@Html.DisplayFor(model => model.IdUtilizadorNavigation.Nome)
			</dd>
		</dl>
	</div>
	<div class="voltarLista">
		<a asp-action="Edit" asp-route-id="@Model.Id" id="linkVoltar">Editar</a> |
		<a asp-action="Index" id="linkVoltar">Regressar à lista</a>
	</div>
</div>