﻿@model DALCore.Models.Avaliacoes

@{
	ViewData["Title"] = "Editar";
}
<style>
	#save {
		-moz-box-shadow: inset 0px 0px 17px 2px #8a2a21;
		-webkit-box-shadow: inset 0px 0px 17px 2px #8a2a21;
		box-shadow: inset 0px 0px 17px 2px #8a2a21;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
		background: -moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
		background: -webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
		background: -o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
		background: -ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
		background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
		background-color: #c62d1f;
		-moz-border-radius: 14px;
		-webkit-border-radius: 14px;
		border-radius: 14px;
		border: 1px solid #d02718;
		display: inline-block;
		cursor: pointer;
		color: white;
		font-family: Arial;
		font-size: 15px;
		font-weight: bold;
		padding: 2px 0px;
		text-decoration: none;
		text-align: center;
		text-shadow: 0px 1px 5px #810e05;
		height: 35px;
		width: 90px;
		margin-bottom: 20px;
	}

		#save:hover {
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
			background: -moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
			background: -webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
			background: -o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
			background: -ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
			background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
			background-color: #f24437;
		}

		#save:active {
			position: relative;
			top: 1px;
		}
</style>
<div id="boxTable">
	<div id="headTituloView">
		<h2 id="h2titulo">Editar avaliação</h2>
	</div>


	<hr />
	<div class="row">
		<div class="col-md-4">
			<form asp-action="Edit">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<input type="hidden" asp-for="Id" />
				<div class="form-group">
					<label asp-for="IdClassificacao" class="control-label">Classificação</label>
					<select asp-for="IdClassificacao" class="form-control" asp-items="ViewBag.IdClassificacao"></select>
					<span asp-validation-for="IdClassificacao" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="IdUtilizador" class="control-label">Colaborador</label>
					<select asp-for="IdUtilizador" class="form-control" asp-items="ViewBag.IdUtilizador"></select>
					<span asp-validation-for="IdUtilizador" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="IdAvaliador" class="control-label">Avaliador</label>
					<select asp-for="IdAvaliador" class="form-control" asp-items="ViewBag.IdAvaliador"></select>
					<span asp-validation-for="IdAvaliador" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="IdProjeto" class="control-label">Projeto</label>
					<select asp-for="IdProjeto" class="form-control" asp-items="ViewBag.IdProjeto"></select>
					<span asp-validation-for="IdProjeto" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Estado" class="control-label">Estado da Avaliação</label>
					<input asp-for="Estado" class="form-control" />
					<span asp-validation-for="Estado" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Mes" class="control-label">Mês</label>
					<input asp-for="Mes" class="form-control" />
					<span asp-validation-for="Mes" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Ano" class="control-label"></label>
					<input asp-for="Ano" class="form-control" />
					<span asp-validation-for="Ano" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="PontosFortes" class="control-label">Pontos Fortes</label>
					<input asp-for="PontosFortes" class="form-control" />
					<span asp-validation-for="PontosFortes" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="PontosFracos" class="control-label">Pontos Fracos</label>
					<input asp-for="PontosFracos" class="form-control" />
					<span asp-validation-for="PontosFracos" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Active" class="control-label">Estado</label>
					<input asp-for="Active" class="form-control" />
					<span asp-validation-for="Active" class="text-danger"></span>
				</div>
				<div class="form-group" hidden>
					<label asp-for="DataCriacao" class="control-label">Data de Criação</label>
					<input asp-for="DataCriacao" class="form-control" />
					<span asp-validation-for="DataCriacao" class="text-danger"></span>
				</div>
				<div class="form-group" hidden>
					<label asp-for="DataEdicao" class="control-label">Data de Edição</label>
					<input asp-for="DataEdicao" class="form-control" />
					<span asp-validation-for="DataEdicao" class="text-danger"></span>
				</div>
		</div>
	</div>
	<div class="btnSalvar">
		<input type="submit" value="Submeter" class="btn btn-default" id="save" />

	</div>
	<div class="btnGuardar">
		<input type="submit" value="Guardar" class="btn btn-default" />
	</div>
	</form>
</div>

<div class="voltarLista">
	<a asp-action="Index" id="linkVoltar">Voltar à Lista</a>
</div>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
