﻿@model IEnumerable<DALCore.Models.Avaliacoes>

@{
	ViewData["Title"] = "Avaliações";
}
<div id="boxTable_Avaliacoes">
	<div id="headTituloView">
		<h2 id="h2titulo">Avaliações</h2>
	</div>
	<div id="criarNovo">
		<i class="fas fa-user-edit"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"></i>
		<a asp-action="Create" id="linkCriarNovo">Criar Nova</a>
	</div>
	<table class="table">
		<thead>
			<tr id="tableHead">
				<th>
					Colaborador
				</th>
				<th>
					Classificação
				</th>

				<th>
					Pontos Fortes
				</th>
				<th>
					Pontos Fracos
				</th>
				<th>
					Projeto
				</th>
				<th>
					Avaliador
				</th>
				<th hidden>
					Estado
				</th>
				<th hidden>
					Data de Criação
				</th>
				<th hidden>
					Data de Edição
				</th>
				<th>
					Mês
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Ano)
				</th>
				<th>
					Estado da Avaliação
				</th>
				<th>

				</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.IdUtilizadorNavigation.Nome)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IdClassificacaoNavigation.Nota)

				<td>
					@Html.DisplayFor(modelItem => item.PontosFortes)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PontosFracos)
				</td>
				<td hidden>
					@Html.DisplayFor(modelItem => item.Active)
				</td>
				<td hidden>
					@Html.DisplayFor(modelItem => item.DataCriacao)
				</td>
				<td hidden>
					@Html.DisplayFor(modelItem => item.DataEdicao)
				</td>
				<td>
				@Html.DisplayFor(modelItem => item.IdProjetoNavigation.Nome)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.IdAvaliadorNavigation.Nome)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Mes)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Ano)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Estado)
				</td>


				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
					<a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
				</td>
			</tr>
			}
		</tbody>
	</table>
</div>
