﻿@model DALCore.Models.Notificacoes
@using Microsoft.AspNetCore.Http;
@{
	ViewData["Title"] = "Criar";
}
<style>
	#save {
		-moz-box-shadow: inset 0px 0px 17px 2px #8a2a21;
		-webkit-box-shadow: inset 0px 0px 17px 2px #8a2a21;
		box-shadow: inset 0px 0px 17px 2px #8a2a21;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24437));
		background: -moz-linear-gradient(top, #c62d1f 5%, #f24437 100%);
		background: -webkit-linear-gradient(top, #c62d1f 5%, #f24437 100%);
		background: -o-linear-gradient(top, #c62d1f 5%, #f24437 100%);
		background: -ms-linear-gradient(top, #c62d1f 5%, #f24437 100%);
		background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24437',GradientType=0);
		background-color: #c62d1f;
		-moz-border-radius: 14px;
		-webkit-border-radius: 14px;
		border-radius: 14px;
		border: 1px solid #d02718;
		display: inline-block;
		cursor: pointer;
		color: white;
		font-family: Arial;
		font-size: 15px;
		font-weight: bold;
		padding: 2px 0px;
		text-decoration: none;
		text-align: center;
		text-shadow: 0px 1px 5px #810e05;
		height: 35px;
		width: 90px;
		margin-bottom: 20px;
	}

		#save:hover {
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24437), color-stop(1, #c62d1f));
			background: -moz-linear-gradient(top, #f24437 5%, #c62d1f 100%);
			background: -webkit-linear-gradient(top, #f24437 5%, #c62d1f 100%);
			background: -o-linear-gradient(top, #f24437 5%, #c62d1f 100%);
			background: -ms-linear-gradient(top, #f24437 5%, #c62d1f 100%);
			background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24437', endColorstr='#c62d1f',GradientType=0);
			background-color: #f24437;
		}

		#save:active {
			position: relative;
			top: 1px;
		}
</style>


<div id="boxTable">
	<div id="headTituloView">
		<h2 id="h2titulo">Criar Notificação</h2>
	</div>

	<hr />
	<div class="row">
		<div class="col-md-4">
			<form asp-action="Create">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group" hidden>
					<label asp-for="Id" class="control-label"></label>
					<input asp-for="Id" class="form-control" />
					<span asp-validation-for="Id" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Nome" class="control-label">Designação</label>
					<input asp-for="Nome" class="form-control" />
					<span asp-validation-for="Nome" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="TipoNotificacao" class="control-label">Tipo de Notificação</label>
					@*<input asp-for="TipoNotificacao" class="form-control" />*@
					<select asp-for="TipoNotificacao" class="form-control">
						<option value="Sistema">Sistema</option>
						<option value="Agendada">Agendada</option>
					</select>
					<span asp-validation-for="TipoNotificacao" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="TipoDestinatario" class="control-label">Tipo de Destinatário</label><br />
					@*<input asp-for="TipoDestinatario" class="form-control" />
						<select asp-for="TipoDestinatario" class="form-control">
							<option value="Administrador">Administrador</option>
							<option value="Cliente">Cliente</option>
							<option value="Colaborador">Colaborador</option>
							<option value="Gestor de Projeto">Gestor de Projeto</option>
							<option value="Manager">Manager</option>
								</select>*@
					<input type="checkbox" name="TipoDestinatario" value="Administrador" />Administrador<br />
					<input type="checkbox" name="TipoDestinatario" value="Cliente" />Cliente<br />
					<input type="checkbox" name="TipoDestinatario" value="Colaborador" />Colaborador<br />
					<input type="checkbox" name="TipoDestinatario" value="Gestor de Projetos" />Gestor de Projetos<br />
					<input type="checkbox" name="TipoDestinatario" value="Manager" />Manager<br />
					<span asp-validation-for="TipoDestinatario" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Destinatario" class="control-label">Destinatários</label>
					<input asp-for="Destinatario" class="form-control" />
					<span asp-validation-for="Destinatario" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Dia" class="control-label"></label>
					<input asp-for="Dia" class="form-control" min="1" max="31" />
					<span asp-validation-for="Dia" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Subject" class="control-label">Assunto</label>
					<input asp-for="Subject" class="form-control" />
					<span asp-validation-for="Subject" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Body" class="control-label">Texto</label>
					<input asp-for="Body" class="form-control" />
					<span asp-validation-for="Body" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="Parametros" class="control-label">Parâmetros</label>
					<input asp-for="Parametros" class="form-control" />
					<span asp-validation-for="Parametros" class="text-danger"></span>
				</div>
				@*<div class="form-group">
						<label asp-for="DataCriacao" class="control-label">Data de Criação</label>
						<input asp-for="DataCriacao" class="form-control" />
						<span asp-validation-for="DataCriacao" class="text-danger"></span>
					</div>
					<div class="form-group">
						<label asp-for="DataEdicao" class="control-label">Data de Edição</label>
						<input asp-for="DataEdicao" class="form-control" />
						<span asp-validation-for="DataEdicao" class="text-danger"></span>
					</div>*@
				<div class="form-group" hidden>
					<label asp-for="UserCriacao" class="control-label">Criado por</label>
					<input asp-for="UserCriacao" class="form-control" value="@Context.Session.GetString("MySession")" />
					<span asp-validation-for="UserCriacao" class="text-danger"></span>
				</div>
				<div class="form-group" hidden>
					<label asp-for="UserEdicao" class="control-label">Editado por</label>
					<input asp-for="UserEdicao" class="form-control" value="@Context.Session.GetString("MySession")" />
					<span asp-validation-for="UserEdicao" class="text-danger"></span>
				</div>
				
		</div>
	</div>
	<div class="btnSalvar">
		<input type="submit" value="Criar" class="btn btn-default" id="save" />
	</div>
	</form>
	<div class="voltarLista">
		<a asp-action="Index" id="linkVoltar">Regressar à lista</a>
	</div>
</div>

	@section Scripts {
		@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
	}

</div>