﻿@model DALCore.Models.Notificacoes

@{
	ViewData["Title"] = "Detalhes";
}
<div id="boxTable">
	<div id="headTituloView">
		<h2 id="h2titulo">Detalhes</h2>
	</div>

	<div>

		<hr />
		<dl class="dl-horizontal">
			<dt>
				Designação
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Nome)
			</dd>
			<dt>
				Tipo de Notificação
			</dt>
			<dd>
				@Html.DisplayFor(model => model.TipoNotificacao)
			</dd>
			<dt>
				Tipo de Destinatário
			</dt>
			<dd>
				@Html.DisplayFor(model => model.TipoDestinatario)
			</dd>
			<dt>
				Destinatários
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Destinatario)
			</dd>
			<dt>
				@Html.DisplayNameFor(model => model.Dia)
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Dia)
			</dd>
			<dt>
				Assunto
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Subject)
			</dd>
			<dt>
				Texto
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Body)
			</dd>
			<dt>
				Parâmetros
			</dt>
			<dd>
				@Html.DisplayFor(model => model.Parametros)
			</dd>
			<dt>
				Estado
			</dt>
			<dd>
				@if (Convert.ToBoolean(Model.Active))
				{
					<span>Ativo</span>
				}
				else
				{
					<span>Inativo</span>
				}
			</dd>
			<dt>
				Data de Criação
			</dt>
			<dd>
				@Html.DisplayFor(model => model.DataCriacao)
			</dd>
			<dt>
				Data de Edição
			</dt>
			<dd>
				@Html.DisplayFor(model => model.DataEdicao)
			</dd>
			<dt>
				Criado por
			</dt>
			<dd>
				@Html.DisplayFor(model => model.UserCriacao)
			</dd>
			<dt>
				Editado por
			</dt>
			<dd>
				@Html.DisplayFor(model => model.UserEdicao)
			</dd>
		</dl>
	</div>
	<div class="voltarLista">
		<a asp-action="Edit" asp-route-id="@Model.Id" id="linkVoltar">Editar</a> |
		<a asp-action="Index" id="linkVoltar">Regressar à lista</a>
	</div>

</div>
