﻿@model IEnumerable<DALCore.Models.Notificacoes>

@{
    ViewData["Title"] = "Notificações";
}
<div id="boxTableNotificacoes">
	<div id="headTituloView">
		<h2 id="h2titulo">Notificações</h2>
	</div>
	<div id="criarNovo">
		<i class="fas fa-user-edit"><link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous"></i>
		<a asp-action="Create" id="linkCriarNovo">Criar Novo</a>
	</div>
	<table class="table">
		<thead>
			<tr id="tableHead">
				<th>
					Designação
				</th>
				<th>
					Tipo de Notificação
				</th>
				<th>
					Tipo de Destinatário
				</th>
				<th>
					Destinatários
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Dia)
				</th>
				<th>
					Assunto
				</th>
				<th>
					Texto
				</th>
				<th>
					Parâmetros
				</th>
				<th hidden>
					Estado
				</th>
				<th hidden>
					Data de Criação
				</th>
				<th hidden>
					Data de Edição
				</th>
				<th hidden>
					Criado por
				</th>
				<th hidden>
					Editado por
				</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.Nome)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.TipoNotificacao)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.TipoDestinatario)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Destinatario)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Dia)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Subject)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Body)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Parametros)
					</td>
					<td hidden>
						@Html.DisplayFor(modelItem => item.Active)
					</td>
					<td hidden>
						@Html.DisplayFor(modelItem => item.DataCriacao)
					</td>
					<td hidden>
						@Html.DisplayFor(modelItem => item.DataEdicao)
					</td>
					<td hidden>
						@Html.DisplayFor(modelItem => item.UserCriacao)
					</td>
					<td hidden>
						@Html.DisplayFor(modelItem => item.UserEdicao)
					</td>
					<td>
						<a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
						<a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
						<a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>