﻿@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="boxTableDashboard">
	<div id="headTituloView">
		<h2 id="h2titulo">Dashboards</h2>
	</div>
	<div class="divDashboard">
		<iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiNmE1NzEyOWItNDY4YS00OTE2LTkxYTQtODllNmMyODI2MzI4IiwidCI6IjNkOWY4ZTkzLWFlMzItNDE3My1hMjkwLTgzZTM5NzNjNWE0MSIsImMiOjh9" frameborder="0" allowFullScreen="true"></iframe>
	</div>
</div>
