﻿@{
	Layout = "~/Views/Shared/_Layout.cshtml";

}

@{
	ViewData["Title"] = "WorkInProgress";
}


<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>work in progress</title>

</head>
<style>
	body {
		background-color: white;
	}
	.GifContainer {
		width: 100%;
		text-align:center;
	}
	img {
		width: 55%;
	}
</style>


<div class="GifContainer">

		<img src="~/images/3jnq.gif" >
</div>

</html>
