﻿body {	
	padding-top: 2px;
	padding-top: 62px;


}
#welcomebox {
	color: black;
	height: 300px;
	display: block;
	position: relative;
}
	#welcomebox::after {
		content: "";
		background: url('../images/imagemHome.png');
		background-repeat: no-repeat;
		background-position: center;
		opacity: 0.25;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		position: absolute;
		z-index: -1;
	}
#welcome {
	margin: auto;
	width: 50%;
	margin-top: 50px;
	position: relative;
	left: 0;
	top: 40%;
}

#bemvindo {
	float: left;
	margin-top: 45px;
	font-size: 20px;
}
.ml5 {
	position: relative;
	font-weight: 300;
	font-size: 2em;
	color: #402d2d;
	display: inline-block;
	padding-top: 20px;
}

	.ml5 .text-wrapper {
		position: relative;
		display: inline-block;
		padding-top: 0.1em;
		padding-right: 0.05em;
		padding-bottom: 0.15em;
		line-height: 1em;
	}

	.ml5 .line {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		height: 3px;
		width: 300px;
		background-color: #402d2d;
		transform-origin: 0.5 0;
	}

	.ml5 .ampersand {
		font-family: Baskerville, "EB Garamond", serif;
		font-style: italic;
		font-weight: 400;
		width: 1em;
		margin-right: -0.1em;
		margin-left: -0.1em;
	}

	.ml5 .letters {
		display: inline-block;
		opacity: 0;
	}


#boxHome {
	background-color: #e6e6e6;
	width: 215px;
	height: 120px;
	padding: 10px;
	border: 2px dashed darkred;
	border-radius: 5px;
	box-shadow: 0 0 0 10px #e6e6e6, 10px 10px 10px 10px rgba(10, 10, 0, 0.5);
	margin: 25px;
}

h2 {
	margin: 0;
	color: darkred;
}

a {
	color: darkred;
}