﻿
@media only screen and (max-width: 400px) {
	#boxLogin {
		margin-top: 100px;
	}
}


body {
	font-family: 'Times New Roman', Times, serif;
	font-size: large;
	color: darkred;
	background: url('../images/backgroundwinningblack.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

#Login {
	text-align: center;
	padding-top: 15px;
	color: darkred;
	
}
#boxLogin {
	width: 365px;
	height: 220px;
	background-color: rgba(255, 255, 255, 0.55);
	margin: auto;
	margin-top: 19%;
	-webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.90);
	-moz-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.90);
	box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.90);
}

#divUsername {
	display: inline-block;
	float: right;
}

#loginInputs {
	margin-left: 15px;
	margin-right: 50px;
	width: 200px;
}
#divPassword {
	display: inline-block;
	float: right;
}


#divBtnLogin {
	display: flex;
	align-items: center;
	justify-content: center;
}
#btnLogin {
	background-color: #990000;
	font-size: medium;
	margin-bottom: 5px;
}



#btnLogin {
	-moz-box-shadow: inset 0px 1px 0px 0px #f5978e;
	-webkit-box-shadow: inset 0px 1px 0px 0px #f5978e;
	box-shadow: inset 0px 1px 0px 0px #f5978e;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f24537), color-stop(1, #c62d1f));
	background: -moz-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background: -webkit-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background: -o-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background: -ms-linear-gradient(top, #f24537 5%, #c62d1f 100%);
	background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f24537', endColorstr='#c62d1f',GradientType=0);
	background-color: #990000;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #d02718;
	display: inline-block;
	cursor: pointer;
	color: white;
	font-family: Arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 0px 1px 0px #810e05;
}

	#btnLogin:hover {
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #c62d1f), color-stop(1, #f24537));
		background: -moz-linear-gradient(top, #c62d1f 5%, #f24537 100%);
		background: -webkit-linear-gradient(top, #c62d1f 5%, #f24537 100%);
		background: -o-linear-gradient(top, #c62d1f 5%, #f24537 100%);
		background: -ms-linear-gradient(top, #c62d1f 5%, #f24537 100%);
		background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c62d1f', endColorstr='#f24537',GradientType=0);
		background-color: #c62d1f;
	}

	#btnLogin:active {
		position: relative;
		top: 1px;
	}

@media screen and (max-width: 767px){
	#boxLogin {
		margin-top: 155px;
	}
	}