﻿body {
	padding-top: 2px;
	padding-top: 62px;
	background-color: #b3b3b3;
}
tr:nth-child(even) {
	background-color: white;
}

tr:nth-child(odd) {
	background-color: #e6e6e6;
}
tr:first-child{
	margin-top: 5px;
}

td {
	height: 30.06px;
}

#linkCriarNovo {
	color: black;
	font-weight: bold;
	font-size: medium;
}
	#linkCriarNovo:hover {
		text-decoration: underline;
			}

#criarNovo {
	text-align: left;
	margin-left: 10px;
	padding-bottom: 5px;
	width: 90%;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 20px;
}
#boxTable {
	padding: 5px;
	width: 600px;
	margin: auto;
	background-color: white;
	
	margin-top: 30px;
	-moz-box-shadow: 0 0 10px black;
	-webkit-box-shadow: 0 0 5px black;
	box-shadow: 0 0 15px black;
}
#headTitulo {
	background-color: darkred;
	color: lightgray;
	text-align: center;
	width: 90%;
	margin: auto;

}
.table {
	width: 90%;
	margin: 0px;
	margin: auto;
	margin-bottom: 20px;
}

#linkLogout {
	color: black;
}


#tableHead {
	background-color: white;
	color: darkred;
	border-bottom: 5px solid darkred;
	border-top: 5px solid darkred;
	margin-bottom: 10px;
	height: 38.4px;
}


tbody:before {
	content: "-";
	display: block;
	line-height: 5px;
	color: transparent;
}

/*view Edit*/

#headTituloView {
	background-color: darkred;
	color: lightgray;
	text-align: center;
	width: 90%;
	margin: auto;
	height: 55px;
	padding: 10px;
	margin-top: 10px;
}

#h2titulo {
	margin: 0px;
}
.row {
	width: 90%;
	margin: auto;
}

.form-group {
	width: 300px;
}
.form-control:focus {
	background-color: #e6e6e6;
	border-color: grey;
	-moz-box-shadow: 0 0 10px black;
	-webkit-box-shadow: 0 0 5px black;
	box-shadow: 0 0 5px black;
}

.btnSalvar {
	width: 20%;
	margin: auto;
}

.voltarLista {
	width: 90%;
	margin-bottom: 15px;
	text-align: right;
}
#linkVoltar {
	color: darkred;
	font-weight: bold;
}

/*view delete*/
.questionDelete {
	color: darkred;
	width: 90%;
	margin: auto;
	margin-top: 20px; 
}

/*view clientes index*/
.tableClientes {
	width: 90%;
	margin: 0px;
	margin: auto;
	margin-bottom: 20px;
	margin-top: 20px;

}

/*view utilizadores index*/
#boxTable_Avaliacoes {
	padding: 5px;
	width: 1000px;
	margin: auto;
	background-color: white;
	margin-top: 30px;
	-moz-box-shadow: 0 0 10px black;
	-webkit-box-shadow: 0 0 5px black;
	box-shadow: 0 0 15px black;
}
/*view projetos*/
#btnGuardar {
	width: 90%;
	margin: auto;
}
/*DASHBOARD*/
#boxTableDashboard {
	padding: 5px;
	width: 900px;
	margin: auto;
	background-color: white;
	margin-top: 30px;
	-moz-box-shadow: 0 0 10px black;
	-webkit-box-shadow: 0 0 5px black;
	box-shadow: 0 0 15px black;
}

.divDashboard {
	width: 800px;
	margin: auto;
}

#boxTableNotificacoes {
	padding: 5px;
	width: 900px;
	margin: auto;
	background-color: white;
	margin-top: 30px;
	-moz-box-shadow: 0 0 10px black;
	-webkit-box-shadow: 0 0 5px black;
	box-shadow: 0 0 15px black;
}

.certeza {
	color: darkred;
	margin: auto;
	margin-top: 15px;
}

#linkNotificacoes {
	color: black;
}

#linkNotificacoes:hover {
	color: darkred;
}

