﻿@model DALCore.Models.NotificacoesDesativar

@{
    ViewData["Title"] = "Criar";
}

<h2>Criar</h2>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="IdUtilizador" class="control-label">Utilizador</label>
                <select asp-for="IdUtilizador" class="form-control" asp-items="ViewBag.IdUtilizador"></select>
            </div>
            <div class="form-group">
                <label asp-for="IdNotificacao" class="control-label">Assunto da Notificação</label>
                <select asp-for="IdNotificacao" class="form-control" asp-items="ViewBag.IdNotificacao"></select>
            </div>
            @*<div class="form-group">
                <label asp-for="DataDesativacao" class="control-label">Data de Desativação</label>
                <input asp-for="DataDesativacao" class="form-control" />
                <span asp-validation-for="DataDesativacao" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Criar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regressar à lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

