﻿@model DALCore.Models.NotificacoesDesativar

@{
    ViewData["Title"] = "Apagar";
}

<h2>Apagar</h2>

<h3>Tem a certeza que pretende apagar?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Data de Desativação
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataDesativacao)
        </dd>
        <dt>
            Assunto da Notificação
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdNotificacaoNavigation.Body)
        </dd>
        <dt>
            Utilizador
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdUtilizadorNavigation.Nome)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="IdUtilizador" />
        <input type="hidden" asp-for="IdNotificacao" />
        <input type="submit" value="Apagar" class="btn btn-default" /> |
        <a asp-action="Index">Regressar à lista</a>
    </form>
</div>
