﻿@model DALCore.Models.NotificacoesDesativar

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Data de Desativação
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataDesativacao)
        </dd>
        <dt>
            Assunto da Notificação
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdNotificacaoNavigation.Body)
        </dd>
        <dt>
            Utilizador
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdUtilizadorNavigation.Nome)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Regressar à lista</a>
</div>
