﻿@model IEnumerable<DALCore.Models.NotificacoesDesativar>

@{
    ViewData["Title"] = "Desativar notificações";
}

<h2>Desativar notificações</h2>

<p hidden>
    <a asp-action="Create">Criar Nova</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Data de Desativação
            </th>
            <th>
                Assunto da Notificação
            </th>
            <th>
                Utilizador
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DataDesativacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNotificacaoNavigation.Body)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdUtilizadorNavigation.Nome)
                </td>
                <td hidden>
                    @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Detalhes", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Apagar", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }
    </tbody>
</table>

