﻿@model DALCore.Models.Funcoes

@{
    ViewData["Title"] = "Apagar";
}

<h2>Apagar</h2>

<h3>Tem a certeza que pretende apagar esta função?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Função
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            Estado
        </dt>
        <dd>
            @if (Convert.ToBoolean(Model.Active))
            {
                <span>Ativo</span>
            }
            else
            {
                <span>Inativo</span>
            }
        </dd>
        <dt>
            Data de Criação
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>
        <dt>
            Data de Edição
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataEdicao)
        </dd>
        <dt>
            Criado por
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserCriacao)
        </dd>
        <dt>
            Editado por
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserEdicao)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar" class="btn btn-default" /> |
        <a asp-action="Index">Regressar à lista</a>
    </form>
</div>

