﻿@model DALCore.Models.Funcoes

@{
    ViewData["Title"] = "Detalhes";
}

<h2>Detalhes</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            Função
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            Estado
        </dt>
        <dd>
            @if (Convert.ToBoolean(Model.Active))
            {
                <span>Ativo</span>
            }
            else
            {
                <span>Inativo</span>
            }
        </dd>
        <dt>
            Data de Criação
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataCriacao)
        </dd>
        <dt>
            Data de Edição
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataEdicao)
        </dd>
        <dt>
            Criado por
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserCriacao)
        </dd>
        <dt>
            Editado por
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserEdicao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Regressar à lista</a>
</div>
