﻿@model DALCore.Models.Funcoes
@using Microsoft.AspNetCore.Http;
@{
	ViewData["Title"] = "Editar";
}

<h2>Editar</h2>


<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="Edit">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="Id" />
			<div class="form-group">
				<label asp-for="Nome" class="control-label">Função</label>
				<input asp-for="Nome" class="form-control" />
				<span asp-validation-for="Nome" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Active" class="control-label"></label>
				<select asp-for="Active" class="form-control">
					<option value="true">Ativo</option>
					<option value="false">Inativo</option>
				</select>
				<span asp-validation-for="Active" class="text-danger"></span>
			</div>
			<div class="form-group" hidden>
				<label asp-for="DataCriacao" class="control-label">Data de Criação</label>
				<input asp-for="DataCriacao" class="form-control" />
				<span asp-validation-for="DataCriacao" class="text-danger"></span>
			</div>
			<div class="form-group" hidden>
				<label asp-for="DataEdicao" class="control-label">Data de Edição</label>
				<input asp-for="DataEdicao" class="form-control" />
				<span asp-validation-for="DataEdicao" class="text-danger"></span>
			</div>
			<div class="form-group" hidden>
				<label asp-for="UserCriacao" class="control-label">Criado por</label>
				<input asp-for="UserCriacao" class="form-control" />
				<span asp-validation-for="UserCriacao" class="text-danger"></span>
			</div>
			<div class="form-group" hidden>
				<label asp-for="UserEdicao" class="control-label">Editado por</label>
				<input asp-for="UserEdicao" class="form-control" value="@Context.Session.GetString("MySession")"/>
				<span asp-validation-for="UserEdicao" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Gravar" class="btn btn-default" />
			</div>
		</form>
	</div>
</div>

<div>
	<a asp-action="Index">Regressar à lista</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

