﻿@model IEnumerable<DALCore.Models.Funcoes>

@{
    ViewData["Title"] = "Funções";
}

<h2>Funções</h2>

<p>
    <a asp-action="Create">Criar Nova</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Função
            </th>
            <th hidden>
                Estado
            </th>
            <th>
                Data de Criação
            </th>
            <th>
                Data de Edição
            </th>
            <th>
                Criado por
            </th>
            <th>
                Editado por
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.Active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataCriacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataEdicao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserCriacao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserEdicao)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
