﻿@model DALCore.Models.Clientes

@{
    ViewData["Title"] = "Apagar";
}

<h2>Apagar</h2>

<h3>Tem a certeza que pretende apagar este cliente?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            NIF
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nif)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Empresa)
        </dd>
        <dt>
            Cliente
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdNavigation.Nome)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Apagar" class="btn btn-default" /> |
        <a asp-action="Index">Regressar à lista</a>
    </form>
</div>

