﻿@model IEnumerable<DALCore.Models.Clientes>

@{
	ViewData["Title"] = "Clientes";
}
<div id="boxTable">
	<div id="headTituloView">
		<h2 id="h2titulo">Clientes</h2>
	</div>
	

	<table class="tableClientes">
		<thead>
			<tr id="tableHead">
				<th>
					Nome
				</th>
				<th>
					NIF
				</th>
				<th>
					@Html.DisplayNameFor(model => model.Empresa)
				</th>
				
				
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.IdNavigation.Nome)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Nif)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.Empresa)
					</td>
					
					<td hidden>
						<a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
						<a asp-action="Details" asp-route-id="@item.Id">Detalhes</a> |
						<a asp-action="Delete" asp-route-id="@item.Id">Apagar</a>
					</td>
				</tr>
			}
		</tbody>
	</table>
</div>
